.idea
*.npz
*.log
datasets/delaney-featurized
datasets/freesolv-featurized
datasets/lipo-featurized
datasets/qm9-featurized
datasets/MNIST
datasets/water_quality_prediciton
datasets/cifar-10-batches-py
datasets/qm7-featurized
datasets/*.csv
datasets/*.csv.gz
datasets/*.xlsx
datasets/*.npy
datasets/*.tar.gz
datasets/*.zip
datasets/*.sdf
checkpoint/*
__pycache__
utils/__pycache__/
ffjord_lib/__pycache__/
ffjord_lib/layers/__pycache__/
ffjord_lib/layers/diffeq_layers/__pycache__/
ffjord_lib/layers/wrappers/__pycache__/