.idea
*.npz
*.log
datasets/MNIST
datasets/water_quality_prediciton
datasets/cifar-10-batches-py
datasets/*.csv
datasets/*.xlsx
datasets/*.npy
datasets/*.tar.gz
datasets/*.zip
checkpoint/*
__pycache__
utils/__pycache__/
ffjord_lib/__pycache__/
ffjord_lib/layers/__pycache__/
ffjord_lib/layers/diffeq_layers/__pycache__/
ffjord_lib/layers/wrappers/__pycache__/